In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import pandas as pd
df=pd.DataFrame(index=range(0,10))

In [3]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
df['x']=pd.Series(range(0,10))

In [6]:
df

   x
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [9]:
df['y']=pd.Series(range(0,100,10))

In [10]:
df

   x   y
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50
6  6  60
7  7  70
8  8  80
9  9  90

In [ ]:
df.